# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Data/models (do not commit raw data by default)
data/raw/*
data/processed/*
models/*
!data/README_data.md

# Reports export (optional)
reports/figures/*.png
reports/figures/*.jpg
reports/figures/*.pdf

# Logs
*.log
